@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.box {
    width: 270px;
    height: 270px;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 223, 254);
    margin-top: 200px;
    margin-left: 650px;
    border-radius: 25px;
    font-family: "Poppins";
    
}
body {
    background-color: #3dada1;
}
#submit{
    margin-top: 20px;
    margin-left: 35px;
}

#el{
    margin-left: 25px;
}

#e {
    background-color: #aacffb;
    border-radius: 25px;
    border: 2px solid red;
    height: 20px;
    margin-top: 20px;
}

#m {
    background-color: #aacffb;
    border-radius: 25px;
    border: 2px solid red;
    height: 20px;
    margin-top: 20px;
}

#p {
    background-color: #aacffb;
    border-radius: 25px;
    border: 2px solid red;
    height: 20px;
    margin-top: 20px;
}

#submit:hover {
    color: white;
    background-color: rgb(0, 183, 255);
    transition: 1s ease-in;
    border: none;
    border-radius: 15px;
}
