.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(235, 217, 0);
    font-family: sans-serif;
    padding: 80px 16px;
}

.main {
    max-width: 500px;
    width: 100%;
    background-color: white;
    padding: 16px;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 10px 10px 0px black;
    margin: 0 auto;
}
.main img {
    width: 100%;
    border-radius: 16px;
}

.main h2 {
    background-color: rgb(235, 217, 0);
    font-size: 16px;
    padding: 6px 16px;
    margin: 24px 0 16px;
    border-radius: 4px;
}

.pp {
    color: rgb(70, 70, 70); 
    margin-bottom: 32px;
}

.main ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.main ul li {
    list-style-type: none;
    font-size: 16px;}
