@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(30, 38%, 92%);
}

h2 {
    font-family: 'Fraunces', serif;
}

p {
    font-size: 14px;
}

.card {
    width: 500px;
    height: 100%;
}

.card_container {
    display: flex;
}

.card_image {
    background-image: url(./image.png);
    background-size: cover;
    width: 50%;
    background-position: center center;
    border-radius: 0.5rem 0 0 0.5rem;
}

.card_info {
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.sub_title {
    text-transform: uppercase;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    letter-spacing: 3px;
}

.title {
    margin: 1rem 0;
}

.info {
    color: hsl(228, 12%, 48%);
    margin-bottom: 1rem;
}

.prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.prices h2 {
    color: hsl(158, 36%, 37%);
}

.prices p {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem;
    background-color: hsl(158, 36%, 37%);
    gap: 0.5rem;
    cursor: pointer;
}