/* 2) განიხილეთ და გატესტეთ ყველა property რაც დღეს ვისწავლეთ
transform
transition
opacity
transform-origin */




.box{
    width: 120px;
    height: 120px;
    background-color: aqua;
    transform: rotate(5deg);
}




.box1{
    width: 120px;
    height: 120px;
    background-color: rgb(210, 118, 118);
    transition: 0.5s;
}



.box1:hover{
    background-color: blueviolet;
    border-radius: 35px;
}


.box2{
    width: 120px;
    height: 120px;
    background-color: brown;
    opacity:0.5;
}



.box3{
    width: 120px;
    height: 120px;
    background-color: aqua;
    transform: rotate(20deg);
    transform-origin: 50%;
}

