/* 3) შექმენით ანიმაცია რომელიც კვადრატს გაზრდის სიგანეში 5 წამში და გადააქცევს წრედ 2 წამში. */
/* 4) შექმენით ანიმაცია რომელიც წრეს გაზრდის სიმაღლეში 1 წამში და გადააქცევს ოთხკუთხედად 2 წამში. */
/* 5) შექმენით ანიმაცია რომელიც კვადრატს 90 გრადუსით დაატრიალებს და 2'ჯერ გაზრდის 1 წამში და ფერს შეუცვლის 2 წამში */
/* transleits sheuzlia rom gadaadgilos elementebi 
skale zrdis divis an raime elementis zomas
roteiti elementis gradusebit triali sheuzlia  */


.box{
    width: 200px;
    height: 200px;
    background-color: gold;
    animation: grow 5s forwards, round 2s forwards 5s;
}
@keyframes grow{
    to{
        height: 300px;
        width: 300px;
        background-color: yellowgreen;

    }
}

@keyframes round {
    to{
        border-radius: 100%;
        background-color: yellowgreen;

    }
}




.box1 {
    width: 100px; 
    height: 100px;
    background-color: aqua;
    animation: growAndTransform 3s forwards;
    border-radius: 50%;
}

@keyframes growAndTransform {
    0% {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: blue;
    }
    35% { 
        height: 300px;
        width: 100px;
    }
    100% {
        height: 300px;
        width: 200px;
        border-radius: 0%;
    }
}





.box2{
    height: 200px;
    width: 200px;
    background-color: brown;
    animation: rotate-scale-color 2s forwards;
}


@keyframes  rotate-scale-color{
    0%{
    transform: rotate(0deg) scale(1) ; 
    background-color: mediumvioletred;
    }
    50%{
        transform: rotate(90deg) scale(2);
        background-color: tomato;
    }
}