.box{
  width: 200px;
  height: 200px;
  background-color: aqua;
}


.box1{
    width: 200px;
  height: 200px;
  background-color: greenyellow;
}



.box2{
    width: 200px;
  height: 200px;
  background-color: black;
}



.conteiner{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 200px;
    gap: 30px;
}