.div{
    width: 100px;
    height: 100px;
    background-color: lightskyblue;
}

.div:hover{
    border-radius:15px;
}


    




.div1{
    width: 100px;
    height: 100px;
    background-color: gold
}

.div2{
    width: 100px;
    height: 100px;
    background-color: green
}



.div3{
    width: 100px;
    height: 100px;
    background-color: blue
}


.div4{
    width: 100px;
    height: 100px;
    background-color: red 
}
