.box3 {
    width: 100px;
    height: 100px;
    background-color: rgb(0, 0, 0);
    animation: move 2s infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(300px);
    }
}
